@import "../../../../assets//style/colors.scss";

.selectFile {
    margin-bottom: 20px;
    z-index: 20;

        transition: 0.2s;


    &>label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-style: none;
            border-style: dashed;
            border-width: 2px;
            border-color: rgb(167, 167, 167);
            padding: 40px;
            border-radius: 10px;
            width: 100%;

            p {
                font-size: 14px;
            }

            .allowedFormatsText {
                font-size: 13px;
                margin-bottom: 10px;
                color: rgb(147, 147, 147);
            }

            button {
                background-color: black;
                padding: 10px;
                border-style: none;
                color: white;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}

.selectFile:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}

.highlighted {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}

.uploadedFilesList {
    padding-top: 10px;
    &>div {
        
        margin-bottom: 20px;

        label:nth-child(1) {
            padding-top: 10px;
        }
        a {
            margin-left: 20px;
            color: $primaryColor;
        }

        &>div:nth-child(1) {
            margin-top: 10px;
        }

        div {
            div {
                margin-top: 10px;

                input {
                    margin-left: 10px;
                }
            }
        }
    }

    &>div:nth-child(1) {
        margin-top: 10px;
    }

    &>p {

        font-size: 14px;
        color: gray;
    }

    margin-bottom: 20px;
}

.fieldLabel {
    font-weight: 600;
}

.requiredIcon {
    color: red;
}

.removeFile {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
}