@import "../../../../../../assets//style//colors.scss";

.view {
    padding-top: 100px;
    width: 50vw;

    .multiSelectItemsDiv {
        display: flex;
        margin-left: 20px;

        p {
            margin-right: 20px;
        }
    }

    h1 {
        margin-bottom: 50px;
    }



}

.approvalContent {
    border-style: none;
    border: 1px solid rgba(0,0,0,.125);
    margin-top: 40px;

    a {
        color: $primaryColor;
    }

    
    h6 {
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1rem;
        color: #64676b;
    }

    .expiryDateText {
        font-size: 14px;
        color: #ababab;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .certificateExpiredText {
        color: #dc3545;
        font-size: 14px;
    }

    .certificateToExpireText {
        color: #c5b500;
        font-size: 14px;
    }

    .multiSelectTextValues {
        display: flex;
        flex-wrap: wrap;

        p {
            margin-right: 20px;
            margin-bottom: 10px;
            background-color: rgb(235, 235, 235);
            padding: 5px;
            border-style: none;
            border-radius: 5px;
        }
    }

    .sectionItem {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .sectionHeader {
            display: flex;
            justify-content: space-between;
        }

        &>div:nth-child(1) {
            flex-grow: 1;
            margin-bottom: 40px;
        }

        .sectionFooter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $primaryColor;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .fieldItem {
            margin-bottom: 1rem;
            .fieldData {
                display: flex;
                align-items: center;

                label {

                    font-size: 1rem;
                    line-height: 1.5;
                    color: #212529;
                }

                p {
                    margin-left: 20px;
                }
            }
            .approvalInfoText {
                font-size: 14px;
                color: #dc3545;
            }
        }
    }
}