@keyframes ldioyzaezf3dcmj {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldioyzaezf3dcmj > div {
  transform-origin: 100px 100px;
  animation: ldioyzaezf3dcmj 0.625s infinite linear;
}
.ldioyzaezf3dcmj > div div {
    position: absolute;
    width: 22px;
    height: 152px;
    background: #e67509;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldioyzaezf3dcmj > div div:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.ldioyzaezf3dcmj > div div:nth-child(6) {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
}.ldioyzaezf3dcmj > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldioyzaezf3dcmj > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldioyzaezf3dcmj > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingiospinnergear2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldioyzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldioyzaezf3dcmj div { box-sizing: content-box; }

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {

        font-weight: 600;
        color: #7f7f7f;
    }
}