.newRegistration {
  margin-top: 50px;
}
.newRegistration .fileSampleModal {
  width: 70vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.newRegistration .fileSampleModal .closePreviewButtonDiv {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.newRegistration .fileSampleModal .closePreviewButtonDiv button {
  border-style: none;
  background-color: var(--form-input-bg);
  color: #e67509;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgba(37, 37, 37, 0.75);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(37, 37, 37, 0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(37, 37, 37, 0.75);
}
.newRegistration .fileSelectorDiv {
  display: flex;
  align-items: center;
}
.newRegistration .fileSelectorDiv div:nth-child(1) {
  flex-grow: 1;
}
.newRegistration .fileSelectorDiv .uploadSampleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}
.newRegistration .fileSelectorDiv .uploadSampleDiv img {
  border-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
.newRegistration .fileSelectorDiv .uploadSampleDiv button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: #e67509;
  cursor: pointer;
}
.newRegistration h1 {
  margin-bottom: 50px;
}
.newRegistration .addSectionText {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.newRegistration .addSectionText a {
  color: #e67509;
  cursor: pointer;
  font-size: 14px;
}
.newRegistration .addSectionText div {
  margin-left: 20px;
}
.newRegistration .fieldComponent .addFieldText {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.newRegistration .fieldComponent .addFieldText a {
  color: #e67509;
  cursor: pointer;
  font-size: 14px;
}
.newRegistration .fieldComponent .addFieldText div {
  margin-left: 20px;
}
.newRegistration .registrationFormContent {
  margin-top: 20px;
}
.newRegistration .registrationFormContent h3 {
  margin-bottom: 10px;
}
.newRegistration .registrationFormContent .section {
  margin-bottom: 50px;
  border-bottom-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--form-section-border);
  padding-bottom: 20px;
}
.newRegistration .registrationFormContent .doubleColumn > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newRegistration .registrationFormContent .doubleColumn > div > div {
  width: 48%;
}
.newRegistration .actionButtonsFooter {
  margin-bottom: 50px;
  display: flex;
  justify-content: end !important;
}
.newRegistration .actionButtonsFooter button {
  margin-left: 20px;
  padding: 10px;
  border-style: none;
  border-radius: 5px;
}
.newRegistration .actionButtonsFooter button:nth-child(1), .newRegistration .actionButtonsFooter button:nth-child(2) {
  background-color: var(--form-section-border);
  color: var(--form-input-text);
}
.newRegistration .actionButtonsFooter button:nth-child(3) {
  background-color: #e67509;
  color: white;
}
.newRegistration .actionButtonsTop {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 20px;
}
.newRegistration .actionButtonsTop button {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.newRegistration .actionButtonsTop button > div {
  margin-left: 5px;
}
.newRegistration .actionButtonsTop button:hover {
  background-color: #e67509 !important;
  color: white !important;
}
.newRegistration .actionButtonsTop button:nth-child(1), .newRegistration .actionButtonsTop button:nth-child(2) {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-style: solid;
  border-width: 1.5px;
  border-color: #e67509;
  color: #e67509;
}
.newRegistration .actionButtonsTop button:nth-child(3) {
  background-color: #e67509;
  color: white;
}
.newRegistration .successActionLinks a {
  margin-right: 20px;
  cursor: pointer;
  color: #e67509;
}
.newRegistration .finishDiv {
  padding-top: 20px;
}
.newRegistration .finishDiv p {
  margin-bottom: 10px;
  color: var(--color-text-primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.newRegistration .finishDiv h5 {
  font-size: 1.25rem;
  color: var(--color-text-secondary);
  font-weight: 500;
  margin-bottom: 10px;
}
.newRegistration .finishDiv button {
  padding: 15px;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #29bd25;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newRegistration .finishDiv button > div {
  margin-left: 5px;
}/*# sourceMappingURL=styles.module.css.map */