.forms {
    .formsSortAndFilterDiv {
        display: flex;
        justify-content: space-between;
        background-color: rgb(231, 231, 231);
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    
        input, select {
            padding: 10px;
            border-style: none;
            border-radius: 10px;
            margin-right: 10px;
        }
    
        button {
            background-color: #e26b09;
            color: white;
            padding: 10px;
            border-style: none;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    
    table {
        width: 100%;
        margin-top: 50px;
        border-collapse: collapse;

        thead {
            background-color: #f2f2f2;

            td {
                padding: 20px;
                font-weight: bold;
            }
        }

        tbody {
            tr {
                td {
                    padding: 20px;
                    font-size: 14px;

                    a {
                        margin-right: 20px;
                        cursor: pointer;
                        color: #e26b09;
                    }
                }
            }
        }
    }
}