.checkBoxes {
    margin-bottom: 20px;
    z-index: 20;

        transition: 0.2s;


    &>label {
        font-size: 14px;
        font-weight: 600;
    }

    select {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border-style: none;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(211, 211, 211);
        border-radius: 10px;
        
    }

    .checkboxItem {
        display: flex;
        align-items: center;
        margin-top: 10px;

        input {
            margin-right: 10px;
        }
    }
}

.checkBoxes:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}

.highlighted {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}