.layout {
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
}
.layout .floatingUserMenu {
  position: absolute;
  top: 100%;
  right: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: start;
  box-shadow: 0px 8px 8px 3px rgba(216, 216, 216, 0.75);
  -webkit-box-shadow: 0px 8px 8px 3px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 8px 8px 3px rgba(216, 216, 216, 0.75);
  z-index: 500;
  font-size: 14px;
  border-radius: 5px;
  width: 150px;
}
.layout .floatingUserMenu hr {
  width: 100%;
}
.layout .floatingUserMenu .officeStatusDiv {
  padding: 20px;
}
.layout .floatingUserMenu .officeStatusDiv p:nth-child(2) {
  margin-bottom: 10px;
}
.layout .floatingUserMenu .officeStatusDiv .inOfficeText {
  color: green;
}
.layout .floatingUserMenu .officeStatusDiv .outOfOfficeText {
  color: red;
}
.layout .floatingUserMenu .officeStatusDiv button {
  background-color: #e26b09;
  color: white;
  border-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px;
}
.layout .floatingUserMenu .loggedInStatusDiv {
  padding: 20px;
}
.layout .floatingUserMenu .loggedInStatusDiv p {
  margin-bottom: 10px;
}
.layout .floatingUserMenu .loggedInStatusDiv span {
  font-weight: bold;
  color: #5b5b5b;
}
.layout .floatingUserMenu .logoutActionDiv {
  flex-grow: 1;
  width: 100%;
}
.layout .floatingUserMenu .logoutActionDiv p {
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  margin: 0px;
}
.layout .floatingUserMenu .logoutActionDiv p:hover {
  background-color: #d0d0d0;
}
.layout .outOfOfficeDiv {
  background-color: white;
  padding: 20px;
  border-style: none;
  border-radius: 5px;
}
.layout .outOfOfficeDiv .outOfOfficeActionButtons {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}
.layout .outOfOfficeDiv .outOfOfficeActionButtons button {
  background-color: #e26b09;
  color: white;
  border-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  padding: 7px;
}
.layout .outOfOfficeDiv .outOfOfficeActionButtons button:nth-child(1) {
  background-color: white;
  color: #e26b09;
}
.layout nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40 !important;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}
.layout nav > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.layout nav .left {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.layout nav .left a {
  display: flex;
  align-items: center;
}
.layout nav .left span {
  margin-left: 10px;
  font-size: 1rem;
}
.layout nav .right {
  padding-right: 20px;
}
.layout nav .right span {
  color: rgba(255, 255, 255, 0.5019607843);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.layout .content {
  display: flex;
  padding: 1.5rem;
  padding-top: 3rem;
}
.layout .content .left {
  width: 16%;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.layout .content .left a {
  padding: 0.5rem 1rem;
  color: #e26b09;
  margin-top: 5px;
  margin-bottom: 5px;
}
.layout .content .left hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(224, 224, 224);
}
.layout .content .right {
  width: 80%;
}/*# sourceMappingURL=styles.module.css.map */