.layout {
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;

    .floatingUserMenu {
        position: absolute;
        top: 100%;
        right: 20px;
        color: black;
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: start;
        box-shadow: 0px 8px 8px 3px rgba(216,216,216,0.75);
        -webkit-box-shadow: 0px 8px 8px 3px rgba(216,216,216,0.75);
        -moz-box-shadow: 0px 8px 8px 3px rgba(216,216,216,0.75);
        z-index: 500;        
        font-size: 14px;
        border-radius: 5px;
        width: 150px;

        div {
           
        }

        hr {
            width: 100%;

        }

        .officeStatusDiv {
            padding: 20px;
            // padding-top: 0px;
            // padding-bottom: 0px;

             p:nth-child(2) {
                margin-bottom: 10px;
             }

             .inOfficeText {
                color: green;
             }

             .outOfOfficeText {
                color: red;
             }

             button {
                background-color: #e67509;
                color: white;
                border-style: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 7px;
             }
        }

        .loggedInStatusDiv {
            padding: 20px;
            p {
                margin-bottom: 10px;
            }

            span {
                font-weight: bold;
                color: #5b5b5b;
            }
        }

        .logoutActionDiv {
            flex-grow: 1;
            width: 100%;
            p {
                cursor: pointer;
                padding: 10px;
                padding-left: 20px;
                margin: 0px;

                &:hover {
                    background-color: #d0d0d0;
                }
            }
        }
    }

    .outOfOfficeDiv {
        background-color: white;
        padding: 20px;
        border-style: none;
        border-radius: 5px;

        .outOfOfficeActionButtons {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 20px;

            button {
                background-color: #e67509;
                color: white;
                border-style: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-left: 10px;
                padding: 7px;
            }

            button:nth-child(1) {
                background-color: white;
                color: #e67509;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #343a40!important;
        color: white;
        padding-top: .3rem;
        padding-bottom: .3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: relative;

        &>div {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .left {

            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;

            a {
                display: flex;
                align-items: center;
            }

            span {
                margin-left: 10px;
                font-size: 1rem;
            }
        }

        .right {
            padding-right: 20px;
            span {
                color: #ffffff80;
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }
    }

    .content {
        display: flex;
        padding: 1.5rem;
        padding-top: 3rem;
    
        .left {
            width: 16%;
            display: flex;
            flex-direction: column;
            padding-right: 20px;
    
            a {
                padding: .5rem 1rem;
                color: #e67509;
                margin-top: 5px;
                margin-bottom: 5px;
    
            }
    
            hr {
                margin-top: .5rem;
                margin-bottom: .5rem;
                border-style: none;
                border-top-style: solid;
                border-top-width: 1px;
                border-top-color: rgb(224, 224, 224);
            }
        }

        .right {
            width: 80%;
        }
    }
}