@import "../../../../assets//style//colors.scss";

.removeUserModal {
    background-color: white;
    padding: 20px;
    min-width: 30%;
    max-width: 40%;

    h2 {
        margin-bottom: 10px !important;
    }

    &>div {
        margin-top: 20px;
        display: flex;
        justify-content: end;

        button {
            margin-left: 10px;
            padding: 7px;
            border-style: none;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &>div {
                margin-left: 5px;
            }
        }

        button:nth-child(1) {
            background-color: $primaryColor;
            color: white;
        }

        button:nth-child(2) {
            background-color: grey;
            color: white;
        }
    }
}

.userManagement {
    h2 {
        margin-bottom: 50px;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #64676b;
    }

    button {
        cursor: pointer;
    }
}

.addNewEndUserModal {
    background-color: white;
    padding: 20px;
    min-width: 30%;

    h2 {
        margin-bottom: 10px;
    }

    input, select {
        width: 100%;
        margin-bottom: 20px;
        border-style: none;
        border-style: solid;
        border-width: 1px;
        border-color: #d1d1d1;
        border-radius: 5px;
        padding: 10px;
    }

    .actionButtons {
        display: flex;
        justify-content: end;
        align-items: center;

        button {
            padding: 7px;
            border-style: none;
            border-radius: 5px;
        }

        button:nth-child(1) {
            background-color: $primaryColor;
            color: white;
            border-style: none;
            border-radius: 5px;

            display: flex;
            align-items: center;
            margin-right: 10px;
        }
    }
}


.manageUserModal {
    background-color: white;
    width: 30%;
    padding: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    border-style: none;
    border-radius: 5px;
    scrollbar-width: thin;

    .selectedUserName {
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 0px;
    }

    .topDivider {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .closeButtonDiv {
        display: flex;
        justify-content: end;

        button {
            border-style: none;
            background-color: rgba(0,0,0,0);
            color: $primaryColor;
            font-size: 18px;
            font-size: 14px;
        }
    }

    .disableUserButton {
        background-color: $primaryColor;
        border-style: none;
        border-radius: 5px;
        color: white;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
        border-color: #cecece;
        border-style: none;
        border-top-style: solid;
        border-top-width: 1px;
    }

    .switchLabel {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        label {
            margin-right: 10px;
        }
    }

    input, select, button {
        padding: 10px;
    }

    input, select {
        width: 100%;
        margin-bottom: 20px;
        border-style: none;
        border-style: solid;
        border-width: 1px;
        border-color: #d1d1d1;
        border-radius: 5px;
    }

    .splitRow {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 48%;
        }
    }

    

    .actionButtonDiv {
        display: flex;
        justify-content: end;

        button {
            background-color: $primaryColor;
            color: white;
            border-style: none;
            border-radius: 5px;

            display: flex;
            align-items: center;
        }
    }
}

.replaceRoleModal {
    width: 40%;
    padding: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: white ;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
        color: #64676b;
    }

    &>div {
        &>div {
            display: flex;
            justify-content: end;
            align-items: center;
    
            button {
                padding: 10px;
                border-style: none;
                border-radius: 10px;
                margin-left: 20px;
    
                display: flex;
                align-items: center;
            }
    
            button:nth-child(1) {
                background-color: $primaryColor;
                color: white;
            }
    
            button:nth-child(2) {
                
    
            }
        }
    }
}

.tabs {
    div {
        width: unset !important;
    }

    &>div {
        width: 100% !important;
    }
}

.filterSortDiv {
    display: flex;
    align-items: center ;
}

.tab {
    header {
        &>div {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            align-items: center;

            div {
                width: 70%;

                select {
                    padding: 10px;
                    border-style: none;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #cfcfcf;
                    border-radius: 5px;
                    margin-left: 20px;
                }
            }

            input {
                padding: 10px;
                border-style: none;
                border-style: solid;
                border-width: 1px;
                border-color: #cfcfcf;
                border-radius: 5px;
                width: 40%;
            }

            button {
                padding: 10px;
                color: white;
                border-style: none;
                background-color: $primaryColor;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            tr {
                td {
                    padding: 10px;
                    font-weight: bold;
                    border-style: solid;
                    border-left-style: none;
                    border-right-style: none;
                    border-color: #e1e1e1;
                    border-width: 1px;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 15px;
                    border-style: solid;
                    border-left-style: none;
                    border-right-style: none;
                    border-color: #e1e1e1;
                    border-width: 1px;

                    a {
                        cursor: pointer;
                    }
                }
            }
        }

        .dark {
            background-color: #0000000d;
        }

        .light {
            background-color: white;
        }

        a {
            color: $primaryColor;
            margin-right: 20px;
        }
    }
}